* {
    box-sizing: border-box0;
}
body {
    margin: 40px;
}
.main_wrapper {
    display: flex;
    width: 616px;
    height: 420px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: space-around;
    border: 1px solid black;
    margin: 0 auto;
}
.closed {
    display: flex;
    width: 95%;
    height: 24px;
    justify-content: flex-end;
}
.close {
    width: 24px;
    height: 24px;
}
.done {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
}
.content_text {
    display: flex;
    width: 100%;
    height: 125px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
}
.title {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: 32px;
    color: #3D4B66;
    font-weight: 500;
}
.text {
    display: flex;
    width: 100%;
    height: 24px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    font-size: 18px;
    color: #3D4B66;
    font-weight: 400;
}